//div de todo
.home
  width: 80%
  margin: auto
  
//div del titulo
.home-titulo
  width: 100%
  font-size: 10px
  color: $color-secundario
  border: $color-secundario 1px solid
  margin-top: 2% 
  margin-bottom: 2%
  
//h2 del titulo
.linea1
  margin-left: 1%
  border-bottom: $color-secundario 1px solid
  
//div de imagen
.home-imagen
  width: 100%
  position: relative

//img
.home-imagen img
  width: 100%
  height: auto

//texto de imagen
.texto-imagen 
  color: white
  position: absolute
  top: 32%
  left: 55%
  padding: 10px
  font-size: 10%


