.containerLogin {
  display: flex;
  margin: -8px;
  padding: auto;
  margin: auto;
  box-sizing: content-box;
}
.sideALogin {
  background-color: #fe4236;
  height: 100vh;
  width: 41vw;
  position: relative;
}
.sideBLogin {
  background-image: url("../assets/loginFondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 59vw;
}
.blueEffectLogin {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 38vw;
  right: 0px;
  position: absolute;
  background: linear-gradient(
    270deg,
    rgba(18, 58, 200, 0.6) 0%,
    rgba(18, 58, 200, 0) 100%
  );
}
.loginConteiner {
  background-image: url("../assets/rectanguloLogin.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 430px;
  width: 282px;
  top: 20.05%;
  left: 30%;
  position: absolute;
}
.colitaLogin {
  position: absolute;
  background: url("../assets/colita.png") no-repeat;
  background-size: cover;
  width: 170px;
  height: 50px;
  top: 1%;
  left: 25%;
}
.logoLogin {
  background-image: url("../assets/logoTrans.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 87px;
  width: 221px;
  top: 33px;
  left: 30px;
  position: absolute;
}
.inputALogin {
  background-image: url("../assets/rectanguloInput.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 33px;
  width: 227px;
  position: absolute;
  top: 55%;
  left: 10%;
}
.buttonMailLog {
  background-image: url("../assets/botonMail.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 21%;
  left: 3%;
}
.textInputALog {
  position: absolute;
  top: 25%;
  left: 13%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #5366d1;
  font-family: Montserrat;
  font-size: 10px;
  width: 190px;
}
.inputBLogin {
  background-image: url("../assets/rectanguloInput.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 33px;
  width: 227px;
  position: absolute;
  top: 63.5%;
  left: 10%;
}
.buttonLockLog {
  background-image: url("../assets/botonLock.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20%;
  left: 3%;
}
.textInputBLog {
  position: absolute;
  top: 25%;
  left: 13%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #5366d1;
  font-family: Montserrat;
  font-size: 10px;
  width: 190px;
}
.loginConteiner p {
  color: #5366d1;
  font-size: 11px;
  position: absolute;
  top: 74%;
  left: 13%;
}
.buttonLogin {
  border: 1px solid #5366d1;
  border-radius: 40px;
  background-color: transparent;
  padding: 5px 15px;
  position: absolute;
  top: 85.5%;
  left: 64%;
  font-family: Montserrat;
  font-size: 12px;
  color: #5366d1;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.registrarse {
  position: absolute;
  top: 69.3%;
  left: 11.5%;
  color: #5366d1;
}
